{
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],

    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": true,
    "printWidth": 100
}